<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div>
    <ul>
        <li th:each="err : ${arrErr}" th:utext="${err.getDefaultMessage()}" class="error">...</li>
    </ul>

    <h3>Đăng nhập hệ thống</h3>
    <form name="f_login" th:action="@{/login}" method="post">
        <table border="0" class="box_login">
            <tr>
                <td>Tên đăng nhập</td>
                <td><input type="text" th:field="${loginForm.userName}" /></td>
            </tr>
            <tr>
                <td>Mật khẩu</td>
                <td><input type="password" th:field="${loginForm.passWord}" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><a href="#" id="btn_login" class="btn">Đăng nhập</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>